.container {
  margin-bottom: 10px;
}
.content {
  background-color: rgb(246, 246, 246);
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;

  .name {
    font-weight: bold;
    margin-bottom: 0;
  }
  .text {
    margin-bottom: 0;
  }
}
.time {
  font-size: 10px !important;
  margin-left: 5px;
  color: #666666;
}

.toggle {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  p {
    margin-right: 5px;
    margin-bottom: 0;
  }
}
.comments {
  padding: 10px 0;
  p {
    font-size: 12px;
  }
}
