.Dashboard {
    margin-left: 250px;
}
.profileUserInfo {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .profileUserThumb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }