.container {
  background-color: #f3f3f3;
  width: 100%;
  overflow-y: scroll;
  border-left: 1px solid rgb(227, 227, 227);
}

.header {
  padding: 15px 15px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    margin-bottom: 0px;
  }
}

.content {
  max-width: 600px;
  margin: auto;
}
