.container {
  background-color: rgb(246, 246, 246);
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  .name {
    font-weight: bold;
    margin-bottom: 0;
  }
  .text {
    margin-bottom: 0;
  }
}
